<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 指定发现自动映射目标未知列（或者未知属性类型）的行为 -->
        <!-- WARNING: 输出提醒日志 -->
        <!-- example: o.a.i.s.AutoMappingUnknownColumnBehavior : Unknown column is detected on 'com.sizake.ebank.db.dao.SakilaMapper.getActor' auto-mapping. Mapping parameters are [columnName=last_name,propertyName=last_name,propertyType=null]-->
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>

        <!--是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射。-->
        <!-- 即字段名必须为aColumn 而非 A_COLUMN-->
        <!-- 生产禁用 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>


    <typeAliases>
        <package name="com.sizake.ebank.web.jsonObject"/>
    </typeAliases>

    <mappers>
        <!--多种引入方式:mapper-{resource,class,url};package-name -->

        <!--前面不能以'/'开头-->
        <mapper resource="dbConfig/film.xml"/>
    </mappers>

</configuration>


